name: Update README cards

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats card (light mode)
        uses: readme-tools/github-readme-stats-action@b4d2ef3b8051484b318d455163153b23a2b35fa2 #v1.1.0
        with:
          card: stats
          options: username=${{ github.repository_owner }}&show_icons=true
          path: profile/stats_light.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate stats card (dark mode)
        uses: readme-tools/github-readme-stats-action@b4d2ef3b8051484b318d455163153b23a2b35fa2 #v1.1.0
        with:
          card: stats
          options: username=${{ github.repository_owner }}&show_icons=true&theme=dark
          path: profile/stats_dark.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit cards
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push